<h1> "Uso interno:"</h1>
<tr>
<td><%= link_to 'Videoconferencia', videoconferencia_path %></td>
<td><%= link_to 'Unidades', unidades_path %></td>
<td><%= link_to 'Tipo_videoconferencia', tipo_videoconferencia_path %></td>
<td><%= link_to 'Tipo_participantes', tipo_participantes_path %></td>
<td><%= link_to 'Registro_videoconferencia', registro_videoconferencia_path %></td>
<td><%= link_to 'Participante_videoconferencia', participante_videoconferencia_path %></td>
<td><%= link_to 'Interno_unidades', interno_unidads_path %></td>
<td><%= link_to 'Estado_videoconferencia', estado_videoconferencia_path %></td>
</tr>