<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to 'Vid', videoconferencia_path ,class: 'navbar-brand'%>
  <%= link_to 'Unidades', unidades_path ,class: 'navbar-brand' %>
  <%= link_to 'Tipo_(vid)', tipo_videoconferencia_path ,class: 'navbar-brand' %>
  <%= link_to 'Tipo_participantes', tipo_participantes_path ,class: 'navbar-brand'%>
  <%= link_to 'Registro(vid)', registro_videoconferencia_path ,class: 'navbar-brand'%>
  <%= link_to 'Participantes(vid)', participante_videoconferencia_path ,class: 'navbar-brand'%>
  <%= link_to 'Interno(unidades)', interno_unidads_path ,class: 'navbar-brand' %>
  <%= link_to 'Estado(vid)', estado_videoconferencia_path ,class: 'navbar-brand'%>
  </div>
  </header>