<%= form_with(model: estado_videoconferencium, local: true) do |form| %>
  <% if estado_videoconferencium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estado_videoconferencium.errors.count, "error") %> prohibited this estado_videoconferencium from being saved:</h2>

      <ul>
      <% estado_videoconferencium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
